.jumbotron{
    /* rgb(255, 184, 78) */
    /* rgb(253, 177, 77); */
    background-color:#F4A884;
    color: white;
    margin-top:50px;
}

footer{
    padding: 10px 10px 0 10px;
    background: #FFA079;
    /* background:#F5B68B; */
    margin-bottom:0px;
    margin-top:3rem;
}
footer a, address{
    margin-top:1rem;
    color:white;
}
footer h3{
    color:#FDF2EC;
    /* color:#ECE2C0; */
    margin-bottom: 20px;
}
.btn1{ 
    color:white;
    background-color:grey;
}
.card-ropa{
    flex: 1 200px;
    margin:10px 0 40px 0;
}
.card-ropa button{
   width: 100%;
   border-radius: 0px;
} 

.espacio-icon{
    padding:10px;
}
.tarj-ajuste{
   width: 18rem;
}
.tarj-color{
    background-color:slategrey;
    color:white;
}
/* fotos */
.img-v{
    padding:5px;
}
#micontenidotab{
    padding-top: 0.6rem;
}
.btn-contacto{
    margin-left: 19px;
}
.centrado{
    text-align:center
}
.fotohe{
    max-height:600px;
}
.btncolor{
    background: #FFDACC;
    color:black;
    border:none;
}


