.jumbotron {
  background-color: #f54542;
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
}

footer {
  padding: 10px 10px 0 10px;
  background: #58db5c;
  /* background:#F5B68B; */
  margin-bottom: 0px;
  margin-top: 3rem;
}

footer a, address {
  margin-top: 1rem;
  color: white;
}

footer h3 {
  color: #eff542;
  /* color:#ECE2C0; */
  margin-top: 0px;
  margin-bottom: 20px;
}

.btn1 {
  color: white;
  background-color: grey;
}

.card-ropa {
  flex: 1 200px;
  margin: 10px 0 40px 0;
}

.card-ropa button {
  width: 100%;
  border-radius: 0px;
}

.espacio-icon {
  padding: 10px;
}

.tarj-ajuste {
  width: 18rem;
}

.tarj-color {
  background-color: slategrey;
  color: white;
}

/* fotos */
.img-v {
  padding: 5px;
}

#micontenidotab {
  padding-top: 0.6rem;
}

.btn-contacto {
  margin-left: 19px;
}

.centrado {
  text-align: center;
}

.fotohe {
  max-height: 600px;
}

.btncolor {
  background: #FFDACC;
  color: black;
  border: none;
}

/*# sourceMappingURL=styles.css.map */
