// variables que van a ser parametros con el signo peso
// F4A884
$amarillo:rgb(239, 245, 66);
$rojo: rgb(245, 69, 66) ;
$verde: rgb(88, 219, 92);
// $orange:#F4A884;

// mixin

@mixin margenes($top,$bottom){
    margin-top:$top;
    margin-bottom:$bottom;
}
//fin mixin

.jumbotron{
    background-color:$rojo;
    color: white;
    // margin-top:50px;
    //incluimos mixin
    @include margenes(50px, 10px);
}

footer{
    padding: 10px 10px 0 10px;
    // #FFA079
    background:$verde;
    /* background:#F5B68B; */
    margin-bottom:0px;
    margin-top:3rem;
}
footer a, address{
    margin-top:1rem;
    color:white;
}
footer h3{
    // #FDF2EC 
    color:$amarillo;
    /* color:#ECE2C0; */
    @include margenes(0px, 20px);

}
.btn1{ 
    color:white;
    background-color:grey;
}
.card-ropa{
    flex: 1 200px;
    margin:10px 0 40px 0;
}
.card-ropa button{
   width: 100%;
   border-radius: 0px;
} 

.espacio-icon{
    padding:10px;
}
.tarj-ajuste{
   width: 18rem;
}
.tarj-color{
    background-color:slategrey;
    color:white;
}
/* fotos */
.img-v{
    padding:5px;
}
#micontenidotab{
    padding-top: 0.6rem;
}
.btn-contacto{
    margin-left: 19px;
}
.centrado{
    text-align:center
}
.fotohe{
    max-height:600px;
}
.btncolor{
    background: #FFDACC;
    color:black;
    border:none;
}


